{% extends 'base.html' %}
{% load i18n  jformat mptt_tags %}
{% block content %}
    {% get_current_language as LANGUAGE_BIDI %}
    <div class="row ">
        <div class="col-12 ">
            <div class="bg-secondary rounded-3 p-2 mb-1"
                 style="--bs-bg-opacity: .15;display: flex;align-items: center;justify-content: space-between">
                <div class="x" style="margin: auto">
                    <div class="main-nav navbar navbar-expand-xl navbar-light navbar-sticky">
                        <div class="offcanvas offcanvas-collapse order-xl-2" id="primaryMenu">
                            <div class="offcanvas-body">
                                <ul class="navbar-nav p-0">
                                    {% recursetree menu_items %}
                                        {% if not node.is_leaf_node %}
                                            <li class="nav-item {% if not node.is_leaf_node %} dropdown {% endif %}">
                                                <a class="nav-link {% if not node.is_leaf_node %} dropdown-toggle {% endif %} "
                                                        {% if not node.is_leaf_node %} data-bs-toggle="dropdown" {% endif %}
                                                   href="{{ node.link }}" style="color: white;padding-left: 15px;">{{ node.name }}</a>
                                                {% if not node.is_leaf_node %}
                                                    <ul class="dropdown-menu dropdown-submenu">
                                                        <li>
                                                            <a href="{{ node.link }}" class="dropdown-item">{{ children }}</a>
                                                        </li>
                                                    </ul>
                                                {% endif %}
                                            </li>
                                        {% else %}
                                            <li>
                                                <a class="nav-link dropdown-item" href="{{ node.link }}"
                                                   style="color: white;padding-left: 15px;font-weight: bold;"> {{ node.name }}</a>
                                            </li>
                                        {% endif %}
                                    {% endrecursetree %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-secondary rounded-3 p-2 mb-1" style="--bs-bg-opacity: .15;">
        <div class="bg-secondary rounded-3 p-5" style="--bs-bg-opacity: .15;">
            <div id="carouselExampleCaptions" class="carousel slide carousel-fade">
                {% include 'home/inc/carousel.html' %}
                <div class=" p-3 mb-2 rounded" style="background-color: #0047AB">
                    <h5>{% trans 'آخرین مطالب ' %}</h5>
                </div>
                <div class="row mb-2">
                    {% for posts in page %}
                        <div>
                            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                                <div class="col p-4 d-flex flex-column position-static">
                                    <strong class="d-inline-block mb-2 text-success-emphasis">{{ posts.category.get }}</strong>
                                    <a href="{{ posts.get_absolute_url }}" style="text-decoration: none;"><h5 style="padding-bottom: 5px;"
                                                                                                              class="mb-3">{{ posts.title }}</h5>
                                    </a>
                                    <p class="mb-auto">{{ posts.description }} </p>
                                    <div class="mb-2 text-body-secondary">
                                        <p style="display: inline"><i class="fas fa-clock fa-xs"></i>
                                            {% if LANGUAGE_BIDI == 'fa' %} {{ posts.updated_jalali | jformat:"%d %b %Y" }} {% else %}
                                                {{ posts.updated | date:'d b Y' }} {% endif %}
                                        </p>
                                        <a href="{{ posts.category.get_absolute_url }}"
                                           class="text-primary"> <i class="fas fa-folder fa-xs"></i> {{ posts.category }}</a>
                                        <p style="display:inline;"><i
                                                class="fas fa-user fa-xs"></i>{{ posts.user.first_name }} {{ posts.user.last_name }}
                                        </p>
                                    </div>
                                    <a href="{{ posts.get_absolute_url }}"
                                       class="text-center btn  " style="background-color: #0047AB">
                                        {% trans 'بیشتر بخوانید' %}
                                    </a>
                                </div>
                                <div class="col-auto d-none d-lg-inline">
                                    <a href="{{ posts.get_absolute_url }}">
                                        <img width="500px" style="border-radius: 0 10px 10px 0 ;" src="{{ posts.thumbnail.url }}"
                                             alt="{{ posts.title }}">
                                    </a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    {% include 'home/inc/pagination.html' %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}