{% load jformat %}
<div class="carousel-inner rounded" style="margin-bottom: 100px">
    <div class="carousel-item active">
        <a href="{% url 'posts:post_detail' postss.first.slug %}">
            <img src="{{ postss.first.thumbnail.url }}" class="d-block w-100" height="700px" alt="">
            <div class="carousel-caption d-none d-md-block text-white bg-black rounded-5"
                 style="--bs-bg-opacity: .7;">
                <h5>{{ postss.first.title }}</h5>
                <p>{{ postss.first.description }}</p>
                <p>{{ postss.first.updated | jformat:"%d %B %Y" }}</p>
            </div>
        </a>
    </div>
    {% for foo in carousel_posts %}
        <div class="carousel-item">
            <a href="{% url 'posts:post_detail' foo.slug %}">
                <img src="{{ foo.thumbnail.url }}" class="d-block w-100" height="700px" alt="">
                <div class="carousel-caption d-none d-md-block text-white bg-black rounded-5"
                     style="--bs-bg-opacity: .7;">
                    <h5>{{ foo.title }}</h5>
                    <p>{{ foo.description }}</p>
                    <p>{{ foo.updated | jformat:"%d %B %Y" }}</p>
                </div>
            </a>
        </div>
    {% endfor %}
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" style="background-color: black;border-radius: 100%" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" style="background-color: black;border-radius: 100%" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>