{% load mptt_tags %}
{% load i18n %}
<h3>{% trans 'دیدگاه ها' %}</h3>
<div class="row">
    <form action="" method="post">
        {% csrf_token %}
        <div class="col-12 mb-3">
            <label for="name" class="requiredField">{% trans 'نام *' %}</label>
            {{ form.name }}
        </div>
        <div class="col-12 mb-3">
            <label for="email" class="requiredField">{% trans 'ایمیل *' %}</label>
            {{ form.email }}
        </div>
        <div class="col-12 mb-3">
            <label for="body" class="requiredField">{% trans 'نظر *' %}</label>
            {{ form.body }}
        </div>
        <input class="btn" type="submit" style="background-color: #0047AD" value='{% trans 'ارسال‌دیدگاه' %}'>
    </form>
</div>
<br/>
<br/>
<br/>
<section class="gradient-custom">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body p-4">
                        <div class="row">
                            <div class="col">
                                <div class="d-flex flex-start">
                                    <div class="flex-grow-1 flex-shrink-1">
                                        {% recursetree comments %}
                                            {% if not node.is_leaf_node %}
                                                <div>
                                                    <div class="d-flex justify-content-between align-items-center">
                                                        <p class="mb-1">
                                                            {{ node.name }} <span class="small">- {{ node.email }}</span>
                                                        </p>
                                                        <div class="dropdown dropstart">
                                                            <a href="{% url 'posts:comment_like' node.id %}"><i
                                                                    class="fa fa-thumbs-up fa-s" aria-hidden="true"></i> {% if node.like_count != 0 %}
                                                                | {{ node.like_count }} {% endif %}</a>
                                                            <a role="button" class="" style="color: #005fe8"
                                                               data-bs-toggle="dropdown" aria-expanded="false"
                                                               data-bs-auto-close="outside">
                                                                <i class="fa fa-mail-reply"></i>
                                                            </a>
                                                            <form style="width: 500px;"
                                                                  action="{% url 'posts:comment_reply' post.slug node.id %}"
                                                                  method="post"
                                                                  class="dropdown-menu p-4">
                                                                {% csrf_token %}
                                                                {{ reply_form.as_p }}
                                                                <input type="submit" class="btn" value="ارسال‌دیدگاه"
                                                                       style="background-color: #0047AD">
                                                            </form>
                                                        </div>

                                                    </div>
                                                    <p class="small mb-0">
                                                        {{ node.body }}
                                                    </p>
                                                </div>
                                                {% if not node.is_leaf_node %}
                                                    <div class="d-flex flex-start mt-4 me-5 ">
                                                        <div class="flex-grow-1 flex-shrink-1">
                                                            {{ children }}
                                                        </div>
                                                    </div>
                                                {% endif %}
                                            {% else %}
                                                <div>
                                                    <div class="d-flex justify-content-between align-items-center">
                                                        <p class="mb-1">
                                                            {{ node.name }} <span class="small">- {{ node.email }}</span>
                                                        </p>
                                                        <div class="dropdown dropstart">
                                                             <a href="{% url 'posts:comment_like' node.id %}"><i
                                                                    class="fa fa-thumbs-up fa-s" aria-hidden="true"></i> {% if node.like_count != 0 %}
                                                                | {{ node.like_count }} {% endif %}</a>
                                                            <a role="button" class="" style="color: #005fe8"
                                                               data-bs-toggle="dropdown" aria-expanded="false"
                                                               data-bs-auto-close="outside">
                                                                <i class="fa fa-mail-reply"></i>
                                                            </a>
                                                            <form style="width: 500px;"
                                                                  action="{% url 'posts:comment_reply' post.slug node.id %}"
                                                                  method="post"
                                                                  class="dropdown-menu p-4">
                                                                {% csrf_token %}
                                                                {{ reply_form.as_p }}
                                                                <input type="submit" class="btn" value="{% trans 'ارسال دید‌گاه' %}"
                                                                       style="background-color: #0047AD;">
                                                            </form>
                                                        </div>
                                                    </div>
                                                    <p class="small mb-0">
                                                        {{ node.body }}
                                                    </p>
                                                </div>
                                                <hr style="color:#1071ff;border-width: 2px"/>
                                            {% endif %}
                                        {% endrecursetree %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br/>
    {% include 'inc/messages.html' %}
</section>