{% load i18n %}
{% load mptt_tags %}

<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container">
        <a class="navbar-brand" href="{% url 'home:home_page' %}">{% trans 'پروژه وبلاگ' %}</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown dropend">
                    <button style="background-color: #0047AD" class="btn " type="button" id="dropdownMenuButton"
                            data-bs-toggle="dropdown" aria-expanded="false">
                        {% trans '< دسته بندی مطالب' %}
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        {% recursetree categories %}
                            {% if not node.is_leaf_node %}
                                <li {% if node.is_leaf_node %}class="dropdown-submenu dropend"{% endif %} style="text-align: right">
                                    <a class="dropdown-item" href=""> << {{ node.name }}</a>
                                    {% if not node.is_leaf_node %}
                                        <ul class="dropdown-menu dropdown-submenu">
                                            <li>
                                                <a class="dropdown-item" href="#">{{ children }}</a>
                                            </li>
                                        </ul>
                                    {% endif %}
                                </li>
                            {% else %}
                                <li style="text-align: right">
                                    <a class="dropdown-item" href="{{ node.get_absolute_url }}"> {{ node.name }}</a>
                                </li>
                            {% endif %}
                        {% endrecursetree %}
                    </ul>
                </li>
            </ul>
                <form class="d-flex" method="get" action="{% url 'home:search' %}">
                    {{ search.as_p }}
                    <input style="height: 38px;margin-top: 15px;margin-right: 5px" class="btn btn-outline-success" type="submit"
                           value="{% trans 'جستجو' %}">
                </form>
        </div>
    </div>
</nav>

