{% extends 'base.html' %}
{% load ratings %}
{% load jformat %}
{% load i18n mptt_tags %}
{% block meta %}
    <title>{{ post.seo_title }}</title>
    <meta name="keywords" content="{{ post.seo_keywords }}">
    <meta name="description" content="{{ post.seo_description }}">

{% endblock %}
{% block content %}
    <div class="row g-5">
        <div class="{% if latest_post %} col-md-9 {% endif %} ">
            <div aria-label="breadcrumb" class="p-3 mb-2 bg-secondary rounded-3" style="--bs-bg-opacity: .15;">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'home:home_page' %}">{% trans 'صفحه اصلی ' %} / </a></li>
                    {% for ancestor in ancestors %}
                        {% if post.category == ancestor %}
                            <li class="breadcrumb-item "><a href="{{ ancestor.get_absolute_url }}">{{ ancestor.name }}</a></li>
                        {% endif %}
                    {% endfor return JsonResponse({}, status=400) %}
                    <li><a style="color: #0253c7" href="{% url 'posts:post_detail' post.slug %}">{{ post.title }}</a></li>
                </ol>
            </div>
            <br/>
            <br/>
            <div class="bg-secondary rounded-3 p-5" style="--bs-bg-opacity: .15;">
                {% if request.user.is_authenticated %}
                    {% if is_bookmarked %}
                        <button class="bookmark-btn" data-post-id="{{ post.id }}" data-bookmarked="True">
                            {% trans 'ذخیزه شده' %}
                        </button>
                    {% else %}
                        <button class="bookmark-btn" data-post-id="{{ post.id }}" data-bookmarked="False">
                            {% trans 'ذخیره کردن' %}
                        </button>
                    {% endif %}
                {% else %}
                    <button disabled>
                        {% trans 'ذخیره کردن' %}
                    </button>
                {% endif %}
                <h3 style="font-weight: bold;">{{ post.title }}</h3>
                <br/>
                <hr style="color:#1071ff;border-width: 2px"/>
                <div class="ratio ratio-16x9">
                    <img
                            src="{{ post.thumbnail.url }}"
                            class="rounded-3"
                            alt="{{ post.title }}"
                            data-no-lazy="1">
                </div>
                <br/>
                <div class="p-3 mb-2 d-grid align-items-center" style="grid-template-columns: 1fr auto auto;">
                    <i class="fa-solid fa-pen">
                        {% trans 'نویسنده :' %}
                        <p class="d-inline">{{ post.user.first_name }} {{ post.user.last_name }}</p>
                    </i>
                    {{ post.updated_jalali | jformat:"%d %b %Y" }}
                </div>
                <br/>
                <div style="line-height: 2rem">
                    <p>
                        {{ post.body | safe }}
                    </p>
                </div>
            </div>


            {% ratings post %}


            <br/>
            <hr style="color:#1071ff;border-width: 2px"/>
            {% include 'posts/inc/comments.html' %}
        </div>
        {% if latest_post %}
            <div class="col-md-3 ">
                <div class="position-sticky" style="top: 2rem;">
                    <div class="p-3 mb-2 bg-secondary rounded-3" style="--bs-bg-opacity: .15;">
                        <h5 class="text-center">{% trans 'آخرین مطالب این دسته' %}</h5>
                        <hr style="color: #3636ff"/>
                        {% for item in latest_post %}
                            <div class="post-thumbnail ratio ratio-16x9">
                                <img width="300" height="173"
                                     src="{{ item.thumbnail.url }}"
                                     class="rounded"
                                     alt="{{ item.title }}" decoding="async"
                                     itemprop="image" data-no-lazy="1" loading="lazy">
                            </div>
                            <br/>
                            <h6 class="mb-5 text-center">
                                <a class="text-white" style="text-decoration: none;line-height:normal"
                                   href="{% url 'posts:post_detail' item.slug %}"> {{ item.title }}</a>
                            </h6>
                        {% endfor %}

                    </div>
                </div>
            </div>
        {% endif %}
    </div>
    <script>
        $(document).ready(function () {
            $(".bookmark-btn").click(function () {
                var postId = $(this).data("post-id");
                var isBookmarked = $(this).data("bookmarked");

                $.ajax({
                    url: "{% url 'posts:bookmark_post'%}",
                    type: "POST",
                    data: {
                        post_id: postId,
                        is_bookmarked: isBookmarked,
                        csrfmiddlewaretoken: "{{ csrf_token }}"
                    },
                    dataType: "json",
                    success: function (response) {
                        if (response.is_bookmarked) {
                            $(".bookmark-btn[data-post-id='" + postId + "']").text("{% trans 'ذخیره شده' %}");
                        } else {
                            $(".bookmark-btn[data-post-id='" + postId + "']").text("{% trans 'ذخیره کردن' %}");
                        }
                    }
                });
            });
        });
    </script>
{% endblock %}